# registry=https://registry.npmjs.org/
strict-peer-dependencies=false
prefer-frozen-lockfile=true
#use-node-version=16.16.0
shamefully-hoist=true
prefer-offline=true
# 禁用已安装的文件检查
verify-store-integrity=false
